<br />

<div id="careers">
  <div class="booyah-box col-10 offset-1">
    <h1>Careers</h1>

    <p>
      We currently have no open positions, as we are not a real company, and this app was made for fun as part of the <a href="https://www.thefirehoseproject.com">Firehose Project</a> curriculum.
    </p>
  </div>
</div>