<br />

<div id="team">
  <div class="booyah-box col-10 offset-1">
    <h1>Meet the Team</h1>

    <div class="text-center">
      <%= image_tag "me.jpg", class: "me" %>
      <br />
      <br />
      <div class="team-blurb">
        <p>
          Flixter was created by Matt Walker - a <a href="https://www.thefirehoseproject.com">Firehose Project</a> student. He is in the process of going through the curriculum in hopes of changing his career, and becoming a web developer.
        </p>
      </div>
    </div>
  </div>
</div>